<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TXTSTAR</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="header">
        <div class="header-inner">
          <h1 class="logo"><a href="/">Under the writing hood</a></h1>
        </div>
    </div>

    <div id="input-output-wrap">
        <!-- Side bar thing -->
        <div class="input-content">
            <div class="input-form">
              <h1>Select .txt files: </h1>
            </div>

            <div class="input-form">
              <!-- file submit -->
              <form enctype="multipart/form-data" action="/" method="post">
                <input type="file" name="files" multiple>
                <button type="submit" class="btn btn-success">Submit File</button>
              </form>
            </div>

            <!-- search bar -->
            <div class="form-contain">

              <form name="search-form">
                <input id="search-input" type="text" name="search-bar" onkeypress="handleChange(this.value)" />
              </form>

            </div>

            <div class="file-results">
              <h2 class="display-text">Uploaded files...</h2>

              <% fileArray.forEach(function(file, i){ %>
                <h3 class="display-text output-name"> <%- file %> <input id="<%- file %>" type="checkbox" name="checkBox"> </h3>

                <% if (i === fileArray.length-1){ %>
                  <button onclick="showEm()">Run analysis</button>
                <% }; %>
              <% }); %>
            </div>
        </div>

        <!-- Output content area -->
        <div id="output-wrap">
            <div class="output">
                <!-- show time info -->
                <% timeData.forEach(function(info, i){ %>
                  <div class="output-data">
                    <!-- Date -->
                    <h3 class="time-data t-data-<%- i%> time-data-display">File: <%- fileArray[i] %></h3>
                    <!-- Info string -->

                    <% if (info.length === 3) { %>
                      <p class="display-text time-data t-data-<%- i%> info-display"> 1 entry per day </p>

                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info %> </p>
                    <% } else if (info.length === 6) { %>
                      <p class="display-text time-data t-data-<%- i%> info-display"> 2 entry per day </p>

                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info.slice(0,3) %> </p>
                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info.slice(3,6) %> </p>
                    <% } else if (info.length === 9) { %>
                      <p class="display-text time-data t-data-<%- i%> info-display"> 3 entry per day </p>

                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info.slice(0,3) %> </p>
                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info.slice(3,6) %> </p>
                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info.slice(6,9) %> </p>
                    <% } else if (info.length === 12) { %>
                      <p class="display-text time-data t-data-<%- i%> info-display"> 4 entry per day </p>

                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info.slice(0,3) %> </p>
                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info.slice(3,6) %> </p>
                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info.slice(6,9) %> </p>
                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info.slice(9,12) %> </p>
                    <% } else { %>
                      <p class="display-text time-data t-data-<%- i%> info-display"> <%- info %> </p>
                    <% } %>

                  </div>
                <% }); %>


                <!-- show top ten common words -->
                <div class="ten-common">
                <% cleanArray.forEach(function(word, i){ %>
                    <% if (i === 0){ %>

                      <h2>10 most common words</h2>
                    <% }; %>

                    <% if (i<10){ %>
                      <h3 class="display-text common-output"> <%- word %> </h3>
                    <% }; %>
                <% }); %>
              </div>
            </div>
        </div>

    </div>

    <script>
      var searchInput = document.getElementById("search-input");

      function handleChange(val){



      }

      function showEm(){
        var checkBoxes = document.getElementsByName('checkBox')
        var checkArray = []; //each position of files names
        var displayElements = document.getElementsByClassName('time-data')

        searchInput.classList.remove("hide-form");

          for (var i=0; i<checkBoxes.length; i++){
            if (checkBoxes[i].checked){
              checkArray.push(i)
              //pushed the array position of the file
            }
          }

          for (let p=0; p<checkArray.length; p++){
              var currElement = document.getElementsByClassName('t-data-'+checkArray[p]);

              for (var k=0; k<currElement.length; k++){
                  currElement[k].classList.remove('time-data');
              }
          }

          // console.log("checkArray: ", checkArray)
          // console.log("displayElements: ", displayElements)

      }



    </script>
  </body>
</html>








































<!-- hi -->
