<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TXTSTAR</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="header">
        <div class="header-inner">
          <h1 class="logo"><a href="/">Under the writing hood</a></h1>
        </div>
    </div>

    <div id="input-output-wrap">
        <!-- Side bar thing -->
        <div class="input-content">
            <div class="input-form">
              <h1>Select .txt files: </h1>
            </div>

            <div class="input-form">
              <!-- file submit -->
              <form enctype="multipart/form-data" action="/" method="post">
                <input type="file" name="files" multiple>
                <button type="submit" class="btn btn-success">Submit File</button>
              </form>
            </div>

            <div class="file-results">
              <h2 class="display-text">Uploaded files...</h2>
              <% fileArray.forEach(function(file, i){ %>
                <h3 class="display-text output-name"> <%- file %> <input id="<%- file %>" type="checkbox" name="checkBox"> </h3>

                <% if (i === fileArray.length-1){ %>
                  <button onclick="showEm()">Run analysis</button>
                <% }; %>
              <% }); %>
            </div>
        </div>

        <!-- Output content area -->
        <div id="output-wrap">
            <div class="output">
                <!-- show time info -->
                <% timeData.forEach(function(info, i){ %>
                    <h3 class="time-data t-data-<%- i%>"><%- fileArray[i] %></h3>
                    <p class="display-text time-data t-data-<%- i%>"> <%- info %> </p>
                <% }); %>

                <!-- show top ten common words -->
                <% cleanArray.forEach(function(word, i){ %>
                    <% if (i === 0){ %>
                      <h2>10 most common words</h2>
                    <% }; %>

                    <% if (i<10){ %>
                      <h3 class="display-text"> <%- word %> </h3>
                    <% }; %>
                <% }); %>
            </div>
        </div>

    </div>

    <script>
      function showEm(){
        var checkBoxes = document.getElementsByName('checkBox')
        var checkArray = [];
        var test = document.getElementsByClassName('t-data-0')

          for (var i=0; i<checkBoxes.length; i++){
            if (checkBoxes[i].checked){
              checkArray.push(checkBoxes[i])
            }
          }

          for (var i = 0; i<test.length; i++){
            test[i].classList.remove("time-data")
          }

          console.log(checkArray)

      }



    </script>
  </body>
</html>








































<!-- hi -->
